[phases.setup]
nixPkgs = ["php84", "php84Packages.composer", "php84Extensions.pdo", "php84Extensions.pgsql", "php84Extensions.pdo_pgsql", "php84Extensions.zip", "php84Extensions.gd", "php84Extensions.redis", "php84Extensions.pcntl", "php84Extensions.curl", "php84Extensions.mbstring", "php84Extensions.xml", "php84Extensions.dom", "php84Extensions.tokenizer", "php84Extensions.fileinfo"]

[phases.install]
cmds = ["composer install --no-dev --optimize-autoloader --no-interaction"]

[phases.build]
cmds = [
  "php artisan config:cache",
  "php artisan route:cache",
  "php artisan view:cache"
]

[start]
cmd = "php artisan serve --host=0.0.0.0 --port=${PORT:-8080}"
